version: "3.1"
services:
  {{ teamcity_server_service }}:
    image: jetbrains/teamcity-server
    ports:
      - "{{ teamcity_server_port }}:8111"
    volumes:
      - {{ teamcity_server_path }}/{{ teamcity_server_data}}:/data/teamcity_server/datadir
      - {{ teamcity_server_path }}/{{ teamcity_server_logs}}:/opt/teamcity/logs
